@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: #f4eafd;
    --color-primary-75: #d2a9f5;
    --color-primary-100: #c085f1;
    --color-primary-200: #a551ea;
    --color-primary-300: #922de6;
    --color-primary-400: #661fa1;
    --color-primary-500: #591b8c;

    --color-secondary-50: #e9f2fd;
    --color-secondary-75: #a6cbf6;
    --color-secondary-100: #81b5f2;
    --color-secondary-200: #4b95ec;
    --color-secondary-300: #267fe8;
    --color-secondary-400: #1b59a2;
    --color-secondary-500: #174d8e;

    --color-success-50: #eafdf0;
    --color-success-75: #a7f7c3;
    --color-success-100: #82f4aa;
    --color-success-200: #4def85;
    --color-success-300: #28ec6c;
    --color-success-400: #1ca54c;
    --color-success-500: #189042;

    --color-danger-50: #fdebeb;
    --color-danger-75: #f8abab;
    --color-danger-100: #f58889;
    --color-danger-200: #f15557;
    --color-danger-300: #ee3234;
    --color-danger-400: #a72324;
    --color-danger-500: #911f20;

    --color-info-50: #e9f7fd;
    --color-info-75: #a5e0f6;
    --color-info-100: #7fd3f2;
    --color-info-200: #48c0ed;
    --color-info-300: #23b3e9;
    --color-info-400: #197da3;
    --color-info-500: #156d8e;

    --color-warning-50: #fdf9ec;
    --color-warning-75: #f8e8b2;
    --color-warning-100: #f5de93;
    --color-warning-200: #f0d064;
    --color-warning-300: #edc644;
    --color-warning-400: #a68b30;
    --color-warning-500: #917929;

    --color-body-0: #ffffff;
    --color-body-10: #fafafa;
    --color-body-20: #f5f5f5;
    --color-body-30: #ebebec;
    --color-body-40: #dfdee0;
    --color-body-50: #c2c0c3;
    --color-body-60: #b3b1b5;
    --color-body-70: #a7a5a9;
    --color-body-80: #99969a;
    --color-body-90: #8a878c;
    --color-body-100: #7b777d;
    --color-body-200: #6d686f;
    --color-body-300: #5e5961;
    --color-body-400: #524d55;
    --color-body-500: #433e46;
    --color-body-600: #37313a;
    --color-body-700: #262029;
    --color-body-800: #17111b;
    --color-body-900: #0b040f;
}


 body {
    @apply bg-body-800 text-body-0;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

*::-webkit-scrollbar-track {
    background: var(--color-body-800);
}

*::-webkit-scrollbar-corner {
    background: var(--color-body-800);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-body-100);
}

.scrollbar-invisible {
    scrollbar-gutter: stable;
    scrollbar-width: none;
}

button {
    @apply cursor-pointer;
}